[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/src/
ExecStart=/root/.local/share/virtualenvs/src--xPOFqZi/bin/gunicorn \
	  --access-logfile - \
	  --workers 3 \
	  --bind unix:/run/gunicorn.sock \
	  src.wsgi:application

[Install]
WantedBy=multi-user.target
